.takeaway{
    width: 100%;
    height: 100%;
    display: flex;
    background: #f5f5f5;
    flex-direction: column;
    header{
        position: fixed;
        width:100%;
        height:1rem;
        background: #3190e8;
        display: flex;
        font-size: 0.3rem;
        color: #fff;
        z-index: 9;
        p{
            width: 1rem;
            height: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .takeawayHead{
            flex: 1;
            text-align: center;
            line-height: 1rem;
        }
    }
    section{
        padding-bottom: 1rem;
        padding-top: 1rem;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        .secHead{
            width: 100%;
            height: 3rem;
            .food{
                background: #fff;
                display: inline-block;
                width: 25%;
                height: 50%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                .headimg{
                    width: 60%;
                }
            }
        }
        .secinfo{
            width: 100%;
            padding: 0.2rem 0.1rem;
            box-sizing: border-box;
            
        }
    }
    footer{
        position: fixed;
        bottom: 0;
        width:100%;
        height:1rem;
        background: #3190e8; 
        display: flex;
        color: #fff;
        p{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 0.3rem;
        }
    }
}